doctype html
html
  head
    title vikinghug.com
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, width=device-width, user-scalable=no')
    link(rel='stylesheet', href='/assets/css/main.css')
    link(rel="stylesheet", href="/vendor/vex/css/vex.css")
  body
    a#top.anchor

    navigation
      a.menu
        span Menu
      ul
        li
          a(href="#top")
            i.icon-skull
            | Tippy-top
        li
          a(href="#repos")
            i.icon-branch-alt
            | Repos
        li
          a(href="#use")
            i.icon-forklift
            | How to use

  .main
    header
      .wrapper
        .row
          .small-12.medium-9.small-center.columns
            include:md ../data/header.md
    block content

  footer
    | vikinghug is affiliated with vikinghug, all rights preserved.

  block footer
