black = #2b273d;
light-grey = #d9d2ef;
yellow = #F4D456;

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  color: light-grey;
  font-family: "interface", sans-serif;
  font-size: 16px;
  line-height: 1.2;
}

#main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('/assets/img/coming-soon-bg.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  position: absolute;
  display: block;
  top: 50%;
  bottom: 50%;
  left: 0;
  right: 0;
  margin-top: -6em;
  text-align: center;
}

h1, h2, h3, h4, h5 {
  font-weight: 100;
  line-height: 1.4;
  margin: 0;
}

h1 {
  color: yellow;
  font-size: 6em;
}
h2 {
  font-size: 3em;
  font-style: italic;
}